<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="login.html">login</a>
<br>
home
<table>
    <tr>
        <th>id</th>
        <th>email</th>
        <th>roles</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.email}"></td>
        <td>
        <span th:each="role : ${user.roles}">
            <span th:text="${role.role}"></span>
        </span>
        </td>
    </tr>

</table>


</body>
</html>